body {
  margin: 0;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
footer {
  flex-shrink: 0;
}
.question {
    border: 1px grey solid;
    margin-top: 20px;
    border-radius: 15px;
    padding: 20px;
}
.user {
    margin-left: 20px;
}
.navbar-brand {
    font-size: xx-large;
}
.brand-description {
    position: absolute;
    left: 5%;
    margin-top: 9px;
}
.brand {
    position: relative;
}
.caption {
    font-weight: 500;
    font-size: xx-large;
}
.hot-questions {
    font-size: x-large;
}
.super-popular-tag {
    font-size: 160%;
}
.popular-tag {
    font-size: 140%;
}
.tag {
    font-size: 120%;
}
.common-tag {
    font-size: 100%;
}
.question-link {
    font-size: x-large;
}
.tag-link{
    text-decoration: none;
}
.tag > a:hover {
    text-decoration: underline;
}
.text-align-center {
    font-size: large;
    text-align: center;
}
.member-link {
    font-size: x-large;
    text-decoration: none;
}
.member > a:hover {
    text-decoration: underline;
}
.question-link > a {
    font-weight: 500;
    text-decoration: none;
}
.question-link > a:hover {
    text-decoration: underline;
}
.question-tags > a {
    text-decoration: none;
}
.question-tags > a:hover {
    text-decoration: underline;
}

/*paginator*/
.pagination > li > a
{
    background-color: white;
    color: #000000;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5cb85c;
    background-color: #eee;
    border-color: #ddd;
}
.pagination > .active > a
{
    color: white;
    background-color: #5cb85c !Important;
    border: solid 1px #5cb85c !Important;
}
.pagination > .active > a:hover
{
    background-color: #5cb85c !Important;
    border: solid 1px #5cb85c;
}

.text-bold {
    font-weight: 500;
}
