body {
  margin: 0;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
footer {
  flex-shrink: 0;
}
.question {
    border: 1px grey solid;
    margin-top: 20px;
    border-radius: 15px;
    padding: 20px;
}
.user {
    margin-left: 20px;
}
.navbar-brand {
    font-size: xx-large;
}
.brand-description {
    position: absolute;
    left: 5%;
    margin-top: 9px;
}
.brand {
    position: relative;
}
.caption {
    font-size: xx-large;
}
.hot-questions {
    font-size: x-large;
}
.super-popular-tag {
    font-size: 160%;
}
.popular-tag {
    font-size: 140%;
}
.tag {
    font-size: 120%;
}
.common-tag {
    font-size: 100%;
}
.question-link {
    font-size: x-large;
}
.tag-link{
    text-decoration: none;
}
.popular-tag > a:hover {
    text-decoration: underline;
}
.tag > a:hover {
    text-decoration: underline;
}
