{% extends 'include/base.html' %}
{% load static %}

{% block headline %}
    <div class="d-flex align-items-end ms-5 mb-4 mt-2">
        <div class="caption">
            Tag:
        </div>
        <div class="ms-3 caption">
            {{ tag }}
        </div>
    </div>
{% endblock headline %}

{% block content %}
    {% for question in questions %}
        {% include 'include/question.html' %}
    {% endfor %}
    {% include "include/paginator.html" %}
{% endblock content %}

{% block side %}
    {% include 'include/side.html' %}
{% endblock side %}
